* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

.gallery{
    border: solid 1px blue;
    border-radius: 5px ;
    background-color: blue;
    flex-grow: 1;
}

.home{
    border: solid 1px red;
    border-radius: 5px ;
    background-color: red;
    flex-grow: 2;
}

.about{
    border: solid 1px blue;
    border-radius: 5px;
    background-color: blue;
    flex-grow: 1;
}

.title{
    display: flex;
    flex-direction: row;
}

.phototitre{
    flex-grow: 1;
}

hr{

}

.myPicture{
    display: flex;
    flex-direction: row;
}

.p1{
    flex-grow: 1;
}

.p2{
    flex-grow: 2;
}

.p3{
    flex-grow: 2;
}

.p4{
    flex-grow: 1;
}

.picture1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}